@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');


*{
    font-family: "Poppins";
}


header{
    width: 100%;
    background-color: #a60404 ;
    height: 300px;
}

.menu{
    display: flex;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    height: 300px;
}

nav li{
    display: inline;
    list-style: none;
    margin: 0 0 0 2.2rem ;
}

nav a{
    text-decoration: none;
    font-size:1.5rem;
    color: white;
    transition: 1s;
}

nav a:hover{
    color: black;
    text-decoration: none;
}



.galeria{
    width: 100%;
    position: relative;
    overflow:hidden;
    min-height: 500px;
}

.foto{
    width: 100%;
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacao{
    25%{
        opacity: 1;
        transform: scale(1.1,1.1);
    }

    50%{
        opacity: 0;
    }
}

.foto:nth-child(1){
    animation-delay: 0s;
}
.foto:nth-child(2){
    animation-delay: 5s;

}
.foto:nth-child(3){
    animation-delay: 10s;

}
.foto:nth-child(4){
    animation-delay: 15s;

}

.mapinha{
    width: 100%;
}

.caixa-icones{
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    text-align: center;
    padding: 2rem;
}

.caixa-icones div{
    margin: 0 55px;
}
.caixa-icones i{
    font-size: 2.8rem;
    color: #a60404;
}



.historia-smak{
    text-align: justify;
    height: auto;
    background:#f4f4f4;
}

.sobre{
    width: auto;
    margin: auto;
    padding: 2rem;
}

.sobre p{
    font-size: auto;
    font-weight: 400;
    padding: 0.8rem 0;
}

.contato{
    width: 100%;
    height: auto;
    background: #222222;
}

.contato section i{
    font-size: 3rem;
    color: white;
}

.fale-conosco{
    width: auto;
    margin: auto;
    text-align: center;
    padding: 3rem;
}

.fale-conosco h2{
    display: inline-block;
    padding: 0 0.2rem;
    font-size: 2rem;
    color: white;
}

.formulario{
    padding: 0.3rem 0;
}

.formulario input{
    height: 3rem;
    outline: none;
    border: none;
    padding: 0 0.6rem;
    border-radius: 2px;
}

.formulario input::placeholder{
    opacity: 0.7;
}

.formulario button{
    height: 3rem;
    border: none;
    padding: 0 0.3rem;
    border-radius: 2px;
    background: #a60404;
    color: white;
    font-weight: 900;
}

.instagram-seguir{
    height: auto;
    width: 100%;
    margin: auto;
    padding: 5rem;
    text-align: center;
}

.insta{
    width: 100%;
    display: flex;
    margin: auto;
}

.instagram-seguir a{
    text-decoration: none;
    color: #a60404;
    transition: 0.3s;
}

.instagram-seguir a:hover{
    color: #fbff00;
    letter-spacing: 0.1rem;
}

.instagram-seguir i{
    color: #a60404;
    font-size: 2.5rem;
    padding-right: 1.1rem;
}

.instagram-seguir h1{
    padding-bottom: 1.2rem;
}


.texto1{
    position: relative;
    margin: 0 auto;
    padding: 2rem 0;
}

.texto1 h4{
    color: white;
    padding: 0.9rem 0;
}

.texto1 p{
    color: #acacac;
    font-weight: 200;
    padding: 0.5rem 0;
}

.texto1 i{
    padding-right: 0.3rem;
}

.texto1 .p1::after{
    content: '';
    display: block;
    margin: 0.9rem 0;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #acacac;
}

.texto1 .p2{
    padding: 0.9rem 0;
} 

#caixa-direitos-reservados{
    background-color:#000000;
}

footer .texto-direitos-reservados{
    margin-bottom: 0;
    font-size: bold;
    color: #ffffff;
    text-align: center;

}


@media (max-width: 760px){

    .galeria{
        display: none;
    }
    img{
        width: 230px;
    }
}

@media (max-width: 500px){
    .secao-fale-conosco h2{
        font-size: 1.2rem;
    }
    
    .formulario{
        display: flex;
    }

    .sobre h1{
        font-size: 1.5rem;
    }
    
    .caixa-icones i{
        font-size: 1.5rem;
        color: #a60404;
    }
    .caixa-icones div p{
        font-size: 1rem;
    }
    .caixa-icones{
        padding: 0;
    }
    .caixa-icones div{
        padding: 0;
        margin-top: 15px 0;
    }

}
