@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');


*{
    font-family: "Poppins", "sans-serif";
}


header{
    width: 100%;
    background-color: #a60404 ;
    height: 300px;
}


.menu{
    display: flex;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    height: 300px;
}

nav li{
    display: inline;
    list-style: none;
    margin: 0 0 0 2.2rem ;
}

nav a{
    text-decoration: none;
    font-size:1.5rem;
    color: white;
    transition: 1s;
}

nav a:hover{
    color: black;
    text-decoration: none;
}

.produtos {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.produtos li:hover {
    border-color: #a60404;
    color: #a60404;
}
.produtos li:active {
    border-color: #088C19;    
}
.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.text-direitos{
    background-color:#000000;
    margin-top: 3rem;
}

button{
    background-color: #a60404;
    padding: 1.2rem;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    width: 80%;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2rem;
    transition: 0.5s ease-in-out;
}

button:hover{
    opacity: 0.8;
}

.mapinha{
    width: 100%;
}

.text-direitos p{
    margin-bottom: 0;
    font-size: bold;
    color: #ffffff;
    text-align: center;
    transition: ease-in-out 0.2s;
}

.text-direitos p:hover{
    letter-spacing: 1px;
    cursor: pointer;
}

@media (max-width: 760px){
    img{
        width: 230px;
    }
}

@media (max-width: 960px){
    .produtos li{
        margin-top: 2rem;
    }

    .produtos{
        flex-direction: column;
    }
}
